main {
  width: 50%;
  margin: 0 auto;
}
h1 {
  text-align: center;
}

select {
  display: block;
}
.input-field {
  text-align: center;
}

.si-week,
.si-week-date,
.si-week-hours,
.todo {
  padding: 12px;
}

.todos {
  padding: 12px;
}
.done,
.delete,
#delete-AllTodos {
  float: right;
}
.delete-AllTodos-button {
  padding: 12px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#input-todos {
  text-align: center;
}

#data-output {
  margin-top: 100px;
}
#hours,
#date {
  display: block;
}
#si-week-input-data,
.data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
